.cardPreviewContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.cardPreviewContainer > span {
  border: 1px solid #e9e2f4;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #2f0a6b;
  display: flex;
  width: 15rem;
  text-align: center;
  padding: 15px;
  overflow-wrap: anywhere;
}
.buttonBackContainer {
  width: 10rem;
  position: relative;
  right: 25%;
  bottom: 0;
  margin: 2rem 0;
  border: none;
  padding: 10px;
}
.buttonIcon {
  width: 100%;
  font-size: 2rem;
}
