.rawDragTiles {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 30rem;
  border: 1px solid #e9e2f4;
  padding: 20px;
  height: 60rem;
  /* overflow-y: scroll; */
}

.App {
  display: flex;
  column-gap: 1rem;
  justify-content: space-evenly;
}
.invisible {
  visibility: hidden;
}
.drop_wrapper {
  border: 1px solid #e9e2f4;
  width: 30rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  background-color: #e4e4e4;
}
.bellIcon {
  position: absolute;
  right: 10%;
  color: #653ee6 !important;
  font-size: 1.8rem;
}
.userIcon {
  position: absolute;
  left: 10%;
  background-color: #653ee6 !important;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
}
.mainContainer {
  margin-top: 5rem;
}
.drop_cardContainer {
  background-color: #fff;
  border-radius: 8px;
  min-height: 50rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.Drop_InnerWrapper {
  /* display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center; */
  height: 100%;
  position: relative;
  padding-bottom: 5rem;
  padding-top: 3rem;
}
.buttonCustom {
  bottom: 4%;
  position: absolute;
  left: 2%;
  width: fit-content !important;
  transition: all 10s linear;
  margin-bottom: 0 !important;
}

.submitButton {
  bottom: 4%;
  position: absolute;
  right: 2%;
  width: fit-content !important;
  transition: all 10s linear;
  margin-bottom: 0 !important;
}
.RightCom {
  border: 1px solid #e9e2f4;
  padding: 20px;
  width: 20rem;
}
.RightCom h3,
.drop h3,
.rawDragTiles h3 {
  text-align: center;
}

.invisible {
  display: none;
}
.visible {
  display: block;
}

.eventDefaultContainer {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #2f0a6b;
}

.PropertiesEventsContainer {
  border: 1px solid #e9e2f4;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #2f0a6b;
  display: flex;
  margin-bottom: 1rem;
}
.PropertiesEventsContainer div:hover {
  border-bottom: 3px solid #2f0a6b;
}
.PropertiesEventsContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 2rem;
}
.PropertiesEventsContainer > div:nth-child(1) {
  border-right: 1px solid #e9e2f4;
}
.eventhandle_Wrapper {
  display: flex;
  justify-content: center;
}
.heading {
  margin-top: 0;

  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  color: #2f0a6b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.rawDragtiles_inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 20px;
}

.Json {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.Json h3 {
  font-weight: 900;
}

.jsonDisplayButton {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #2f0a6b;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  align-items: center;
  padding: 10px;
  border: none;
}
.customcomp {
  width: 90%;
  margin: 1rem auto;
}
.customcomp:last-child {
  margin-bottom: 3rem;
}
.previewButton {
  padding: 10px;
  border: none;
  background-color: #2f0a6b;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  width: 8rem;
  margin: auto;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.JSONTextarea {
  width: 100%;
  min-height: 30rem;
}
.JSONWrapper {
  width: 30rem;
  max-width: 100%;
  margin: 2rem auto;
}
.jsonText {
  color: #fff;
  font-weight: 800;
}
